<!-- Nav Bar -->

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <!-- Branding on left side-->
  <a class="navbar-brand">  Welcome <strong>{{user}}</strong></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Main Nav panel -->
  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="logout()" routerLink="login">Sign Out</a>
      </li>
    </ul>

    <!-- Welcome note on right side -->
    <ul class="navbar-nav">
      <li class="nav-item">
      </li>
    </ul>
  </div>
</nav>

<!-- -->

<!--Main body of app -->
  <form *ngIf="perms == 2">
      <div class="form-group">
        <label for="exampleInputEmail1">Username</label>
        <input [(ngModel)]="user.username" type="username"  class="form-control" id="username" name="username" placeholder="Enter Username">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input [(ngModel)]="user.password" name="password" type="password"  class="form-control" id="password" placeholder="Enter Password">
      </div>

      <button (click)="validateLogin();" class="btn btn-secondary">Login</button>

  </form>
