<div id="chat_history" style="height: 400px">
  <div *ngFor="let message of messages">
    {{ message.text }}
  </div>
</div>

<div class="row">
<input [(ngModel)]="message" type="text" placeholder="message" id="message" name="message" class="form-control">
<div id="space"></div>
<button (click)="sendMessage(message)" class="btn btn-primary">Send</button>
</div>
<div id="room"></div>
<div class="row">
<!-- <input type="file" id="uploadfile" name="uploadfile" class="form-control" (change)="onFileSelected($event)">
<div id="space"></div>
<button (click)="onUpload()" class="btn btn-primary">Upload</button>

<img src="{{imagepath}}" /> -->

</div>
